@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Colors:
$primary-color: #FFF;



* {
    box-sizing: border-box;
}
body {
    background: url('../img/woods.jpg') no-repeat fixed center;
    background-size: cover;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
}
.circle-container {
    cursor: pointer;
    height: 230px;
    width: 230px;
    margin: auto;
    position: relative;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;

    &.grow {
        animation: grow 4s linear forwards;
    }
    &.shrink {
        animation: shrink 8s linear forwards;
    }

    #circle {
        background-color: #3B2637;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    p {
        font-size: .85rem;
    }
    .pointer-container {
        height: 150px;
        width: 15px;
        transform-origin: bottom center;
        position: absolute;
        top: -35px;
        left: 107.5px;

        &.start {
            animation: rotate 19s linear forwards infinite;
        }

        #pointer {
            background-color: $primary-color;
            border-radius: 50%;
            display: block;
            height: 15px;
            width: 15px;
        }
    }
    #gradient-circle {
        background: conic-gradient(
            #55B7A4 0%,
            #4CA493 4 / 19 * 100%,
            $primary-color 4 / 19 * 100%,
            $primary-color 11/19 * 100%,
            #336D62 11 / 19 * 100%,
            #2A5B52 100%
        );
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -2;
    }
}



// Animations:
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}