@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// Colors:
$primary-color: #FFF;



* {
    box-sizing: border-box;
}
body {
    background: url('../img/woods.jpg') no-repeat fixed center;
    background-size: cover;
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.7rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 240px;
    margin: auto;
    cursor: pointer;
    position: relative;
    transform: scale(1);

    &.grow {
        animation: grow 3s linear forwards;
    }
    &.shrink {
        animation: shrink 3s linear forwards;
    }

    .circle {
        background-color: #3B2637;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .pointer-container {
        transform-origin: bottom center;
        height: 150px;
        width: 15px;
        position: absolute;
        top: -30px;
        left: 112.5px;

        &.start {
            animation: rotate 7.5s linear forwards infinite;
        }

        .pointer {
            background-color: $primary-color;
            border-radius: 50%;
            display: block;
            height: 15px;
            width: 15px;
        }
    }
    .gradient-circle {
        background: conic-gradient(
            #55B7A4 0%,
            #4CA493 40%,
            $primary-color 40%,
            $primary-color 60%,
            #336D62 60%,
            #2A5B52 100%
        );
        border-radius: 50%;
        height: 260px;
        width: 260px;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -2;
    }
}



// Animations:
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes shrink {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}